body,html{  height: 100%;}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  font-family: anka, monospace;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
p{margin-bottom:100px;font-size: 6.5vh;letter-spacing: 1px;}
#count{
  font-size:24vh;
}
